body{
	background-color: black;
	background-image: url("https://www.transparenttextures.com/patterns/padded.png");
}



#link{
	color: white;
	position: relative;
	left: 1300px;
}

#link:hover{
	color: blue;
}
#a1{
	font-family: 'Raleway Dots', cursive;
	color: white;
	position: absolute;
	margin-left: 350px;
	top: 50px;
}
#a2{
	font-family: 'Raleway Dots', cursive;
	color: white;
	position: absolute;
	margin-left: 350px;
	top: 100px;

}

#a3{
	font-family: 'Raleway Dots', cursive;
	color: white;
	position: absolute;
	margin-left: 350px;
	top: 150px;
}


#empty{
	background-color: black;
	background-image: url("https://www.transparenttextures.com/patterns/padded.png");
	width: 500px;
	height: 170px;
	position: absolute;
	top: -20px;
	margin-left: 719px;
}

#asd{
	width: 500px;
	height: 140px;
	background-color: black;
	background-image: url("https://www.transparenttextures.com/patterns/padded.png");
	position: absolute;
	top: 450px;
	margin-left: 720px;
}





#rasengan{
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
	text-align: center;
	animation: mymove 20s infinite;
}



/* Standard syntax */
@keyframes mymove {
	0%   {background-image: url("IntroIMG/1.png"); background-size: contain;}
	2%   {background-image: url("IntroIMG/2.png"); background-size: contain;}
	4%   {background-image: url("IntroIMG/3.png"); background-size: contain;}
	8%   {background-image: url("IntroIMG/4.png"); background-size: contain;}
	10%  {background-image: url("IntroIMG/5.png"); background-size: contain;}
	12%  {background-image: url("IntroIMG/6.png"); background-size: contain;}
	14%  {background-image: url("IntroIMG/7.png"); background-size: contain;}
	16%  {background-image: url("IntroIMG/8.png"); background-size: contain;}
	18%  {background-image: url("IntroIMG/9.png"); background-size: contain;}
	20% {background-image: url("IntroIMG/10.png"); background-size: contain;}
	22% {background-image: url("IntroIMG/11.png"); background-size: contain;}
	24% {background-image: url("IntroIMG/12.png"); background-size: contain;}
	28% {background-image: url("IntroIMG/13.png"); background-size: contain;}
	30% {background-image: url("IntroIMG/14.png"); background-size: contain;}
	32% {background-image: url("IntroIMG/15.png"); background-size: contain;}
	34% {background-image: url("IntroIMG/16.png"); background-size: contain;}
	36% {background-image: url("IntroIMG/17.png"); background-size: contain;}
	38% {background-image: url("IntroIMG/18.png"); background-size: contain;}
	40% {background-image: url("IntroIMG/19.png"); background-size: contain;}
	42% {background-image: url("IntroIMG/20.png"); background-size: contain;}
	44% {background-image: url("IntroIMG/21.png"); background-size: contain;}
	46% {background-image: url("IntroIMG/22.png"); background-size: contain;}
	48% {background-image: url("IntroIMG/23.png"); background-size: contain;}
	50% {background-image: url("IntroIMG/24.png"); background-size: contain;}
	52% {background-image: url("IntroIMG/25.png"); background-size: contain;}
	54% {background-image: url("IntroIMG/26.png"); background-size: contain;}
	56% {background-image: url("IntroIMG/27.png"); background-size: contain;}
	58% {background-image: url("IntroIMG/28.png"); background-size: contain;}
	60% {background-image: url("IntroIMG/29.png"); background-size: contain;}
	62% {background-image: url("IntroIMG/30.png"); background-size: contain;}
	64% {background-image: url("IntroIMG/31.png"); background-size: contain;}
	66% {background-image: url("IntroIMG/32.png"); background-size: contain;}
	68% {background-image: url("IntroIMG/33.png"); background-size: contain;}
	70% {background-image: url("IntroIMG/P34.png"); background-size: contain;}
	72% {background-image: url("IntroIMG/35.png"); background-size: contain;}
	74% {background-image: url("IntroIMG/36.png"); background-size: contain;}
	76% {background-image: url("IntroIMG/37.png"); background-size: contain;}
	78% {background-image: url("IntroIMG/38.png"); background-size: contain;}
	80% {background-image: url("IntroIMG/1.png"); background-size: contain;}
	82% {background-image: url("IntroIMG/2.png"); background-size: contain;}
	84% {background-image: url("IntroIMG/3.png"); background-size: contain;}
	86% {background-image: url("IntroIMG/4.png"); background-size: contain;}
	88% {background-image: url("IntroIMG/5.png"); background-size: contain;}
	90% {background-image: url("IntroIMG/6.png"); background-size: contain;}
	92% {background-image: url("IntroIMG/7.png"); background-size: contain;}
	94% {background-image: url("IntroIMG/8.png"); background-size: contain;}
	100% {background-image: url("IntroIMG/9.png"); background-size: contain;}

}
